.startSection {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  /* background: url(cover.jpg);
  background-attachment: fixed; */
}

.fadeIn {
  opacity: 0;
  /* max-width: 420px; */
}

.fadeOn {
  opacity: 1;
  /* max-width: 450px; */
}

.cover {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.logo {
  z-index: 1;
  max-width: 450px;
  position: absolute;
  margin: 0 10%;
  transition: 2500ms;
}

.bgOverlay {
  height: 100%;
  width: 100%;
  background-color: rgba(18, 25, 24, 0.75);
  z-index: 0;
}
