.navBar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  /* background-color: blueviolet; */
}

.menuIco {
  margin: 75px 100px 0 0;
  width: 60px;
  cursor: pointer;
  opacity: 0.65;
  transition: 200ms;
}

.menuIco:hover {
  opacity: 1;
  transition: 200ms;
}
