.logo {
  z-index: 1;
  position: absolute;
  max-width: 450px;
  /* display: flex; */
  /* flex-direction: column; */
  /* text-align: center; */
  /* align-items: center;
  justify-content: center; */
  /* padding: 5px 0; */
  /* margin-bottom: 10px; */
  /* background-color: #a0a0a0; */
  /* color: blueviolet; */
  /* width: 500px; */
  /* border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: 1000ms; */
}

.cover {
  /* box-sizing: border-box; */
  /* max-width: 100%; */
  /* height: 100%; */
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
}

.startSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: 0.5s;
  font-family: serif;
}

.bgOverlay {
  height: 100%;
  width: 100%;
  /* background-color: rgb(7%, 9%, 9%, 0.75); */
  /* background-color: rgba(18, 27, 24, 0.7); */
  background-color: rgba(18, 25, 24, 0.75);
  z-index: 0;
}
