:root {
  --windowHeight: 100vh;
  --circleRadius: calc(0.5 * var(--windowHeight));
}

.photoSection {
  width: 100%;
  /* min-height: 100vh; */
  padding: 100px 100px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
}

.bgCircle {
  position: absolute;
  background-color: #23334d;
  opacity: 0.15;
  border-radius: 50%;
  z-index: 0;
  /* transition: 1; */
}

.bgCircle__1 {
  width: var(--circleRadius);
  height: var(--circleRadius);
  top: calc(var(--windowHeight) / 2 - var(--circleRadius) / 2);
  left: calc(-1 * var(--circleRadius) / 2);
}

.bgCircle__2 {
  width: calc(var(--circleRadius) * 2);
  height: calc(var(--circleRadius) * 2);
  position: absolute;
  top: calc(-1 * var(--windowHeight) / 3);
  left: calc(var(--circleRadius) * 1.5);
  background-color: #23334d;
  opacity: 0.15;
  border-radius: 50%;
  z-index: 0;
}

.bgCircle__3 {
  width: calc(var(--circleRadius) * 1.7);
  height: calc(var(--circleRadius) * 1.7);
  position: absolute;
  bottom: calc(var(--windowHeight) / 3);
  left: calc(var(--circleRadius) * 1);
  background-color: #23334d;
  opacity: 0.15;
  border-radius: 50%;
  z-index: 0;
}

.photoSection h1 {
  font-family: serif;
  margin-bottom: 25px;
  font-size: 50px;
  color: #112242;
}

/* .photoImg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
} */

.gallery div {
  display: block;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 3%;
  /* margin: 10%; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 999;
  /* overflow-y: auto; */
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 200ms;
}

/* .modal:hover {
  background-color: #23334d;
} */

.modalOpen {
  /* width: 50%; */
  /* background-color: #fff; */
  visibility: visible;
}

.modalPhoto {
  max-width: 100%;
  box-sizing: border-box;
  max-height: 100%;
}

.closeIcon {
  position: fixed;
  top: 50px;
  right: 8%;
  width: 45px;
  cursor: pointer;
  opacity: 0.65;
  transition: 200ms;
  z-index: 999;
}

.closeIcon:hover {
  opacity: 1;
}

.arrowContainer {
  width: 20%;
  height: 100%;
  /* background-color: #23334d; */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* background-color: red; */
}

.arrowContainer:hover {
  /* opacity: 0.1; */
}

.arrowContainerL {
  top: 0;
  left: 0;
  /* background-color: #112242; */
}

.arrowContainerR {
  top: 0;
  right: 0;
  /* background-color: #112242; */
}

.navIco {
  width: 35px;
  opacity: 0.55;
  cursor: pointer;
  transition: 200ms;
  /* margin: 50px; */
  z-index: 999;
}

.navIco:hover {
  opacity: 1;
  transition: 200ms;
  /* z-index: 999; */
}
