:root {
  --windowHeight: 100vh;
  --circleRadius: calc(0.5 * var(--windowHeight));
}

.photoSection {
  width: 100%;
  padding: 100px 100px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
}

.bgCircle {
  position: absolute;
  background-color: #23334d;
  opacity: 0.15;
  border-radius: 50%;
  z-index: 0;
}

.bgCircle__1 {
  width: var(--circleRadius);
  height: var(--circleRadius);
  top: calc(var(--windowHeight) / 2 - var(--circleRadius) / 2);
  left: calc(-1 * var(--circleRadius) / 2);
}

.bgCircle__2 {
  width: calc(var(--circleRadius) * 2);
  height: calc(var(--circleRadius) * 2);
  position: absolute;
  top: calc(-1 * var(--windowHeight) / 3);
  left: calc(var(--circleRadius) * 1.5);
  background-color: #23334d;
  opacity: 0.15;
  border-radius: 50%;
  z-index: 0;
}

.bgCircle__3 {
  width: calc(var(--circleRadius) * 1.7);
  height: calc(var(--circleRadius) * 1.7);
  position: absolute;
  bottom: calc(var(--windowHeight) / 3);
  left: calc(var(--circleRadius) * 1);
  background-color: #23334d;
  opacity: 0.15;
  border-radius: 50%;
  z-index: 0;
}

.photoSection h1 {
  font-family: serif;
  margin-bottom: 25px;
  font-size: 50px;
  color: #112242;
}

.gallery div {
  display: block;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
