.footer {
  position: absolute;
  top: 5%;
  left: 5%;
  /* width: 100%; */
  z-index: 9999;
}

.iconsContainer {
  display: flex;
}

.iconsContainer a {
  display: flex;
  margin-right: 30px;
}

.socialsIco {
  width: 35px;
  cursor: pointer;
  opacity: 0.65;
  transition: 200ms;
}

.socialsIco:hover {
  opacity: 1;
  transition: 200ms;
}
