.footer {
  position: fixed;
  bottom: 5%;
  left: 5%;
  z-index: 9999;
}

.iconsContainer {
  display: flex;
  /* background-color: red; */
  /* border-radius: 25px; */
  /* padding: 10px; */
  opacity: 0.5;
  /* filter: blur(15px); */
  /* box-shadow: 0px 1px 40px red; */
}

.iconsContainer a {
  display: flex;
  margin-right: 30px;
}

.iconsContainer a:last-child {
  margin-right: 0;
}

.socialsIco {
  width: 35px;
  cursor: pointer;
  opacity: 0.65;
  transition: 200ms;
  fill: #dde7cf;
}

.socialsIco:hover {
  opacity: 1;
  transition: 200ms;
}
