.navBar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 5%;
  right: 5%;
}

.menuIco {
  width: 60px;
  cursor: pointer;
  opacity: 0.65;
  transition: 200ms;
}

.menuIco:hover {
  opacity: 1;
  transition: 200ms;
}
